body {
  padding: 0;
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
}
#bg{
  background: url(./loginbg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
h1{
    padding-bottom: 10px;
    color: gainsboro;
    text-transform: uppercase;
    font-size: 1.5em;
}
.tower-dock{
  width: 275px;
  padding: 75px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: black;
  text-align: center;
  border-radius: 360px;
}

.tower-dock input[type = "text"],.tower-dock input[type = "password"] {
  border: 0;
  background: 0;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid white;
  padding: 13px 10px;
  width: 200px;
  outline: none;
  color: gray;
  border-radius: 24px;
}
.tower-dock button[type = "submit"]{
  border: 0;
  background: 0;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #fdcb6e;
  padding: 14px 10px;
  width: 100px;
  outline: none;
  color: gray;
  border-radius: 24px;
  cursor: pointer;
}
.tower-dock button[type = "submit"]:hover{
  background: #fdcb6e;
}
#error-message{
  color: white;
}